/* .MuiDataGrid-colCellTitle {
    display: block; 
    text-align:center; 
    width: 100%; 
  }
  
  .MuiDataGrid-cell {
    display: block;
    position: relative;
    text-align: center;
  }

  

  .MuiDataGrid-columnHeader{
      color: rgb(62, 146, 243);
  } */

/* .navbar-meniItems {
  background: "black";
  border: 1px solid gold;
  padding: 1px;
} */
